<label class="input">
    <input
            class="input__element"
            placeholder="{{placeholder}}"
            type="text"
            name="{{name}}"
            value="{{value}}"
    />
</label>
