@import "/src/scss/variables";

.remove-user-wgt {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;

  flex-direction: column;
  padding: 50px 30px 30px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 12px;
  background-color: white;
  margin: auto;

  &__users {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
  }

  p {
    width: 100%;
  }

  &__text-error {
    height: 1rem;
    color: $error-color;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: left;
  }
}

.hide {
  display: none;
}
