<label class="input-auth {{#if error}}input-auth__error{{/if}}" >
    <span class="input-auth__label">{{label}}</span>
    <input
        class="input-auth__element"
        placeholder=""
        type="{{type}}"
        name="{{name}}"
    />
    <span class="input-auth__text-error">{{error}}</span>
</label>
