<form class="auth-form">
    {{{ Logo }}}
    <h1 class="auth-form__header">
        {{caption}}
    </h1>
    {{> @partial-block }}
    <div class="auth-form__buttons">
        {{{ Button label=textOk onClick=onClickOkButton type="primary" }}}
        {{{ Button label=textCancel onClick=onClickCancelButton type="secondary" }}}
    </div>
</form>
