<div class="messenger">
    <div class="messenger__widget">
        {{#> FormProfile}}
            {{> InputConf label="First name:" type="text" name="first_name" value=first_name }}
            {{> InputConf label="Second name:" type="text" name="second_name" value=second_name}}
            {{> InputConf label="Display name:" type="text" name="display_name" value=display_name}}
            {{> InputConf label="Login:" type="text" name="login" value=login}}
            {{> InputConf label="Email:" type="email" name="email" value=email}}
            {{> InputConf label="Phone:" type="tel" name="phone" value= phone}}
        {{/FormProfile}}
    </div>
</div>
