<div class="messenger">
    <div class="messenger__widget">
        {{#> FormProfile editable=true}}
            {{> InputConf label="First name:" type="text" name="first_name" value=first_name editable=true}}
            {{> InputConf label="Second name:" type="text" name="second_name" value=second_name editable=true}}
            {{> InputConf label="Display name:" type="text" name="display_name" value=display_name editable=true}}
            {{> InputConf label="Login:" type="text" name="login" value=login editable=true}}
            {{> InputConf label="Email:" type="email" name="email" value=email editable=true}}
            {{> InputConf label="Phone:" type="tel" name="phone" value= phone editable=true}}
        {{/FormProfile}}
    </div>
</div>
