<div class="signin-container">
    {{#> FormAuth caption="Sign in" ok-text="Sign in" ok-page="messenger" cancel-text="Sign up" cancel-page="signup"}}
        {{> InputAuth label="Login" name="login" type="text"}}
        {{> InputAuth label="Password" error="wrong password" name="password" type="password"}}
    {{/FormAuth}}
</div>
