<div class="conversation">
    <div class="conversation__header">
        <div class="conversation__header--user">
            {{> Avatar user=conversation.user}}
            <b>{{conversation.user.first_name}} {{conversation.user.second_name}}</b>
        </div>
        {{> Button type="settings"}}
    </div>
    <div class="conversation__scroll">
        {{> MsgList msgList=msg_list}}
    </div>
    <div class="conversation__footer">
        {{> Button type="settings"}}
        {{> Input placeholder="Message..." name="message"}}
        {{> Button type="settings"}}
    </div>
</div>
