.change-avatar-wgt {
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-direction: column;
  padding: 50px 30px 30px;
  width: 400px;
  box-shadow: 0 0 100px rgba(1,1,1,1);
  border-radius: 12px;
  background-color: white;
  margin: auto;
}

.hide {
  display: none;
}
